<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Understanding Human Satisfaction with LLMs</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <link href="../static/web/challenge.css" rel="stylesheet" type="text/css" >
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet" >
</head>
<body>
    {% block content %} {% endblock %}
    <div class="scroll-arrow hidden" id="scroll-arrow" onclick="scrollToBottom()">&#8595;</div>
    <footer class="footer">
        <div><b>In partnership with</b> </div>
        <img alt="Open LLM Initiative" title="Open LLM Initiative" src="../static/android-chrome-192x192.png">
        <img alt="Open LLM Initiative" title="Katanemo" src="../static/katanemo.jpg">
        <img alt="Open LLM Initiative" title="Data Science Dojo" src="../static/data-science-dojo.png">
    </footer>
</body>
<script src="../static/web/challenge.js"></script>
</html>