<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Satisfaction with LLMs</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <link href="../static/web/challenge.css" rel="stylesheet" type="text/css" >
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet" >
</head>
<body>
    {% block content %} {% endblock %}
    <div class="scroll-arrow hidden" id="scroll-arrow" onclick="scrollToBottom()">&#8595;</div>
    <div class="partnership-banner">
        <div><b>in partnership with</b></div>
        <img title="Katanemo" src="../static/katanemo.jpg">
        <img title="Data Science Dojo" src="../static/data-science-dojo.png">
        <img title="Intel" src="../static/intel-logo.png">
        <img title="Capital One" src="../static/capital-one.png">
    </div>
</body>
<script src="../static/web/challenge.js"></script>
</html>