<div class= "rating_form">
<form id="rating_form" action="/submit" method="POST" onsubmit="return validateForm()">
    <div class="rating">
        <input type="hidden" name="rating_for_prompt" id="rating_value" value="">
        <input type="hidden" name="prompt_id" id="prompt_id" value="{{ prompt_id }}">
        <span data-tooltip="Bad" name="rating" value ="1" onclick="rate(1)">&#9734;</span>
        <span data-tooltip="Poor" name="rating" value ="2" onclick="rate(2)">&#9734;</span>
        <span data-tooltip="Ok" name="rating" value ="3" onclick="rate(3)">&#9734;</span>
        <span data-tooltip="Good" name="rating" value ="4" onclick="rate(4)">&#9734;</span>
        <span data-tooltip="Great" name="rating" value ="5" onclick="rate(5)">&#9734;</span>
    </div>
    <button type="submit" class="submit">Submit</button>
</form>
</div>