<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Understanding Human Satisfaction with LLMs</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <link href="../static/web/challenge.css" rel="stylesheet" type="text/css" >
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet" >
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0W63TY24BM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0W63TY24BM');
</script>
<body>
    <div class="container">
        <img src="../static/open-llm-initiative.png">
    </div>
    <div class="challenge">
        <a href="challenge">Let's take the Global LLM Challenge</a><br><br>
    </div>
    {% include 'acknowledge.html' %}
</body>
<script src="../static/web/challenge.js"></script>
</html>