<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Understanding Human Satisfaction with LLMs</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <link href="../static/web/challenge.css" rel="stylesheet" type="text/css" >
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet" >
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0W63TY24BM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0W63TY24BM');
</script>
<body>
    <div class="index-container">
        <img src="../static/open-llm-initiative.png">
        <p>Welcome to the Open LLM Initiative! This project aims to foster interoperability among large language models (LLMs) by defining common formats and APIs.</p>
        <p>Our goal is to research human interaction design with LLMs, improve tooling, interoperability and foster vendor choice for developers. Today, we have two active initiatives: <a href="https://github.com/open-llm-initiative/open-message-format">Open Messages Format</a> a compact and user-friendly way to exchange chat messages between clients, servers and LLMs, and <a href="https://github.com/open-llm-initiative/llm-challenge">Global LLM Challenge</a> - an open source global study on human satisfaction levels with LLMs.</p>
    </div>
    <div class="challenge">
        <a style="font-size: 20px" href="challenge">Take the Global LLM Challenge! 👉👉</a><br><br>
    </div>
</body>
</html>