<div class="response_container">
    <h3>Assistant 🤖  </h3>
    <div class="progress-container" id="progress-container">
        <div class="progress"></div>
        <div class="progress"></div>
        <div class="progress"></div>
    </div>
    <div class="response">
        <p>In the following sentences, underline the verb in parentheses that agrees with the collective noun.</p>

        <strong>Example 1</strong>. The audience <em>(is, <u>are</u>)</em> slowly finding their seats in the theater.
        
        <p>The jury <em>(is, <u>are</u>)</em> deliberating the case.</p>
        
        <p>In the following sentence, underline the correct modifier from the pair given in parentheses.</p>
        
        <p><strong>Example 1</strong>. Last weekend we had a (real, <u>really</u>) good time.</p>
        
        <p>The new movie <em>The Matrix</em> is <em>(real, <u>really</u>)</em> exciting.</p>
        
        <p>In the following sentence, underline the correct modifier from the pair given in parentheses.</p>
        
        <p><strong>Example 1</strong>. Last weekend we had a (real, <u>really</u>) busy weekend.</p>
        
        <p>The new movie <em>The Matrix</em> is <em>(real, <u>really</u>)</em> exciting.</p>
        
    </div>
</div>