{% extends "base.html" %}
{% block content %}
    <div class="header">
       <b class="header_thanks"> Thanks for the submission 💯 Let's keep going 🏃.</b><br>
        Please read the prompt, examine any relevant context, and rate the response. <br> 
    </div>
    <div class="container">
        <div class="prompt-context">
            <h2>Prompt 🚀  </h2>
            <p>You are an astronaut on a mission to Mars.</p>
            <h3>Context:</h3>
            <p class="context-text">Last year, a similar mission encountered a severe meteor shower. The crew secured themselves and performed evasive maneuvers under mission control guidance. They used the spacecraft's thrusters to navigate through the meteor field while constantly adjusting their trajectory based on real-time data. Communication was critical, and the crew worked together to ensure the safety of the spacecraft. Despite the challenges, the mission was a success due to the crew's quick thinking and precise actions.</p>
        </div>
        {% include 'response_container.html' %}
        {% include 'form.html' %}
    </div>
{% endblock %}